<form [formGroup]="ProdForm" novalidate>
  <div fxLayout="column">
    <div fxFlex="50">
      <mat-form-field>
        <input [autoFocus]="true" matInput numeric decimals="2" type="text" formControlName="Quantity"
          placeholder="Quantity">
        <mat-error *ngIf="errorHandling('Quantity', 'required') || errorHandling('Quantity', 'min')">
          Must be number with max two optional decimals.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field>
        <input matInput formControlName="days" placeholder="only integers">
        <mat-error *ngIf="errorHandling('days', 'pattern')||errorHandling('days', 'required')">
          Only numbers
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field>
        <input matInput formControlName="hours" placeholder="without Zero numbers">
        <mat-error *ngIf="errorHandling('hours', 'pattern')||errorHandling('hours', 'required')">
          only numbers exclude zero
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field>
        <input matInput  formControlName="minitues" placeholder="without Zero numbers">
        <mat-error *ngIf="errorHandling('minitues', 'pattern')||errorHandling('minitues', 'required')">
          only numbers exclude zero
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
