<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color: rgb(0 0 0 / 82%);">
    <div class="logo">R</div>
    <div fxLayout="column">
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/home" routerLinkActive="active" i18n>Home</a>
      </div>
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/input-validations" routerLinkActive="active" i18n>Input-validations</a>
      </div>
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/perfect-scroll" routerLinkActive="active" i18n>Perfect Scroll bar</a>
      </div>
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/mat-tree" routerLinkActive="active" i18n>Mat Tree</a>
      </div>
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/mat-dialog" routerLinkActive="active" i18n>Mat dialog</a>
      </div>
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/reactive-form" routerLinkActive="active" i18n>Reactive Form</a>
      </div>
      <div fxFlex="50" style="margin: 20px;">
        <a routerLink="/board" routerLinkActive="active" i18n>Main Board</a>
      </div>

    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="header-top">
      <h1><div i18n>My Angular Play Ground </div></h1>

    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
