<div style="margin: 20px;">
  <form [formGroup]="sampleForm" novalidate (ngSubmit)="save()">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name">
    </mat-form-field>
    <h4>Countries</h4>
    <mat-form-field>
      <mat-label>Favorite Country</mat-label>
      <mat-select formControlName="country" required>
        <mat-option *ngFor="let ct of countries" [value]="ct.alpha2Code">
          {{ct.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button> <button mat-raised-button (click)="set();"
      color="primary">Set</button><button (click)="get();" mat-raised-button color="primary">Get</button>
  </form>
  <div style="background-color: cadetblue;padding: 10px;margin-top: 20px;">
    <h4>Reactive from data:</h4>
    {{result}}
  </div>
</div>
